@font-face {
  font-family: Starjhol;
  src: url("../fonts/Starjhol.ttf"); }
@font-face {
  font-family: Dylan;
  src: url("../fonts/Dylan.otf"); }
/* Global */
* {
  font-family: 'Raleway', arial, sans-serif; }

h1 {
  text-align: center; }

.sec {
  height: 100%;
  min-height: 500px;
  position: relative;
  overflow: hidden; }

#sec-1 {
  background: url("../img/dark_wood.png") repeat; }
  #sec-1 h1 {
    font-size: 5em;
    color: white; }

.vert-centered {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 8em; }

.spacer {
  height: 3em;
  background: black;
  width: 100%; }

.starwars {
  font-family: Starjhol;
  background: black;
  color: gold; }

/* Paper */
.paper {
  top: 4%;
  width: 80%;
  height: 90%;
  margin: 0 auto;
  padding: 0px 0.3125em 0.25em 0.375em;
  position: relative;
  color: #444;
  line-height: 20px;
  border: 1px solid #d2d2d2;
  background: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
  background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  -webkit-background-size: 100% 20px;
  -moz-background-size: 100% 20px;
  -ms-background-size: 100% 20px;
  -o-background-size: 100% 20px;
  background-size: 100% 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  max-width: 40em;
  font-family: Dylan; }
  .paper::before {
    content: '';
    position: absolute;
    width: 0.25em;
    top: 0;
    left: 1.875em;
    bottom: 0;
    border: 1px solid;
    border-color: transparent #efe4e4; }
  .paper .head {
    background-color: #FFF;
    min-height: 5em;
    margin-left: -0.25em;
    margin-top: 0.1em; }
  .paper .title {
    text-align: center;
    margin-top: -0.4em;
    line-height: 0.5em;
    font-size: 3em;
    margin-bottom: 0.35em; }
  .paper .title span {
    font-size: 0.5em; }
  .paper p:not(.title) {
    font-size: 2em;
    margin-left: 1em; }

#scroll-hint {
  position: absolute;
  bottom: 0.3em;
  right: 0.3em;
  cursor: pointer; }
  #scroll-hint:hover {
    opacity: 0.7; }

.project {
  position: relative;
  overflow: hidden; }
  .project .logo {
    margin-top: 1em;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding: 0.5em 0;
    display: block;
    color: inherit;
    text-decoration: none; }

.project-container {
  max-width: 1200px;
  margin: 0 auto; }

.project-desc {
  background: rgba(255, 255, 255, 0.9);
  max-width: 25em;
  width: 25%;
  min-height: 25em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  border: 1px solid black;
  margin: 2em 5em;
  display: inline-block;
  overflow: hidden;
  -moz-box-shadow: 5px 5px 10px #333;
  -ms-box-shadow: 5px 5px 10px #333;
  -webkit-box-shadow: 5px 5px 10px #333;
  box-shadow: 5px 5px 10px #333;
  position: relative; }
  .project-desc img {
    margin: 0 auto;
    display: block; }
  .project-desc p {
    margin: 1em 1em; }

.heroku .project-desc::after {
  content: url("../img/heroku.png");
  position: absolute;
  bottom: 0.25em;
  right: 0.25em; }

.github {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  bottom: 0; }
  .github:after {
    content: url("../img/github.png"); }
  .github:hover {
    opacity: 0.7; }

.project-pic {
  margin: 2em 3em;
  display: inline-block;
  position: relative;
  width: 600px;
  height: 369px;
  border: 1px solid black;
  background-size: 100%;
  background-repeat: no-repeat; }
  .project-pic a {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    z-index: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .project-pic a:hover {
      background: rgba(255, 255, 255, 0.2); }

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  display: block;
  min-width: 900px;
  opacity: 0.4; }

#crossword-cafe .logo {
  background: black; }
  #crossword-cafe .logo:hover {
    background: #333; }
#crossword-cafe .project-pic {
  background-image: url("../img/crossword_preview.jpg"); }
#crossword-cafe .background {
  background: url("../img/crossword_background.jpg") repeat;
  background-size: 20%;
  -webkit-filter: blur(2px); }

#bugs-n-drugs .logo {
  background: #39275b; }
#bugs-n-drugs .project-pic {
  background-image: url("../img/bugsndrugs.png"); }
#bugs-n-drugs .background {
  background: #9b93ab;
  background-image: url("../img/bugs.svg"); }

#meetup-heatmap .logo {
  background: #e51837;
  font-family: 'Permanent Marker'; }
  #meetup-heatmap .logo:hover {
    background: #ff4b6a; }
#meetup-heatmap .project-pic {
  background-image: url("../img/heatmap.png"); }
#meetup-heatmap .background {
  background: url("../img/meetup_mash.jpg") repeat;
  opacity: 0.8; }

#screen-guide .project-pic {
  background-image: url("../img/screen_guide_preview.png"); }

#starset .project-pic {
  background-image: url("../img/starset_preview.png"); }

#contact a {
  margin: 0 auto; }
#contact img {
  width: 7em;
  display: inline-block; }
#contact * {
  text-align: center; }

/*# sourceMappingURL=index.css.map */
