@font-face {
    font-family: Starjhol;
    src: url('../fonts/Starjhol.ttf');
}
@font-face {
    font-family: Dylan;
    src: url('../fonts/Dylan.otf');
}

* {
  font-family: 'Raleway', arial, sans-serif;
}

body {
}
h1 {
  text-align: center;
}
.heroku {
  height: 1em;
  vertical-align: middle;
}
.sec {
  height: 100%;
  min-height: 500px;
  position: relative;
}
#sec-1 {
  /*background: url('http://subtlepatterns.com/patterns/carbon_fibre.png') repeat;*/
  background: url('http://subtlepatterns.com/patterns/dark_wood.png') repeat;


}
#sec-1 h1 {
  font-size: 5em;
  color: white;
}
#sec-3 {
  /*background: url('../img/wood_table.jpg') no-repeat center center;*/
  /*background-size: cover; */
  /*background: url('http://subtlepatterns.com/images/transp_bg.png') repeat;*/
  
  background: url('http://images2.layoutsparks.com/1/161655/crossword-game-intelligence.jpg') repeat;
  background-size: 20%;
  -webkit-filter: blur(5px);
}
.vert-centered {
  margin: auto; 
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  height: 8em;
}
.spacer {
  height: 3em;
  background: black;
  width: 100%;
}

.starwars {
  font-family: Starjhol;
  background: black;
  color: gold;
}



/* Paper */
.paper {
  top: 4%;
  width: 80%;
  height: 90%;
  margin: 0 auto;
  padding: 0px 0.3125em 0.25em 0.375em;
  position: relative;
  color: #444;
  line-height: 20px;
  border: 1px solid #d2d2d2;
  background: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
  background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  -webkit-background-size: 100% 20px;
  -moz-background-size: 100% 20px;
  -ms-background-size: 100% 20px;
  -o-background-size: 100% 20px;
  background-size: 100% 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  /*width: 816px;*/
  /*height: 1056px;*/
  max-width: 40em;
  font-family: Dylan;
}
 
.paper::before {
  content: '';
  position: absolute;
  width: 0.25em;
  top: 0;
  left: 1.875em;
  bottom: 0;
  border: 1px solid;
  border-color: transparent #efe4e4;
}
.paper .head {
  background-color: #FFF;
  min-height: 5em;
  margin-left: -0.25em;
  margin-top: 0.1em;
}
.paper .title {
  text-align: center;
  margin-top: -0.4em;
  line-height: 0.5em;
  font-size: 3em;
  margin-bottom: 0.35em;
}
.paper .title span {
  font-size: 0.5em;
}
.paper p:not(.title) {
  font-size: 2em;
  margin-left: 1em;
}
#scroll-hint {
  position: absolute;
  bottom: 0.3em;
  right: 0.3em;
  cursor: pointer;
}
#scroll-hint:hover {
  opacity: 0.7;
}