// Fonts
@font-face {font-family: Starjhol;src: url('../fonts/Starjhol.ttf');}
@font-face {font-family: Dylan;src: url('../fonts/Dylan.otf');}
// Colors
$husky-dark-purple: #39275b;
$husky-light-purple: #9b93ab;
$meetup-red: #e51837;
$meetup-pink: #ff4b6a;

/* Global */
* {
  font-family: 'Raleway', arial, sans-serif;
}

body {
}
h1 {
  text-align: center;
}

@mixin all-transitions($duration){
  -webkit-transition: all $duration;
  -moz-transition: all $duration;
  -o-transition: all $duration;
  transition: all $duration;
}
@mixin shadow($x, $y, $blur, $color){
  -moz-box-shadow: $x $y $blur $color;
  -ms-box-shadow: $x $y $blur $color;
  -webkit-box-shadow: $x $y $blur $color;
  box-shadow: $x $y $blur $color;
}
@mixin radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.sec {
  height: 100%;
  min-height: 500px;
  position: relative;
  overflow: hidden;
}
#sec-1 {
  background: url('../img/dark_wood.png') repeat;

  h1 {
    font-size: 5em;
    color: white;
  }
}


.vert-centered {
  margin: auto; 
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  height: 8em;
}
.spacer {
  height: 3em;
  background: black;
  width: 100%;
}

.starwars {
  font-family: Starjhol;
  background: black;
  color: gold;
}



/* Paper */
.paper {
  top: 4%;
  width: 80%;
  height: 90%;
  margin: 0 auto;
  padding: 0px 0.3125em 0.25em 0.375em;
  position: relative;
  color: #444;
  line-height: 20px;
  border: 1px solid #d2d2d2;
  background: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
  background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  -webkit-background-size: 100% 20px;
  -moz-background-size: 100% 20px;
  -ms-background-size: 100% 20px;
  -o-background-size: 100% 20px;
  background-size: 100% 20px;
  @include radius(3px);
  @include shadow(0, 1px, 2px, rgba(0,0,0,0.7));
  max-width: 40em;
  font-family: Dylan;

  &::before {
    content: '';
    position: absolute;
    width: 0.25em;
    top: 0;
    left: 1.875em;
    bottom: 0;
    border: 1px solid;
    border-color: transparent #efe4e4;
  }
  .head {
    background-color: #FFF;
    min-height: 5em;
    margin-left: -0.25em;
    margin-top: 0.1em;
  }
  .title {
    text-align: center;
    margin-top: -0.4em;
    line-height: 0.5em;
    font-size: 3em;
    margin-bottom: 0.35em;
  }
  .title span {
    font-size: 0.5em;
  }
  p:not(.title) {
    font-size: 2em;
    margin-left: 1em;
  }
}

#scroll-hint {
  position: absolute;
  bottom: 0.3em;
  right: 0.3em;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.project {
  position: relative;
  overflow: hidden;

  .logo {
    margin-top: 1em;
    text-align: center;
    @include all-transitions(0.3s);
    padding: 0.5em 0;
    display: block;
    color: inherit;
    text-decoration: none;
  }
}

.project-container {
  max-width: 1200px;
  margin: 0 auto;
}

.project-desc {
  background: rgba(255,255,255,0.9);
  max-width: 25em;
  width: 25%;
  min-height: 25em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  border: 1px solid black;
  margin: 2em 5em;
  // float: left;
  display: inline-block;
  overflow: hidden;
  @include shadow(5px, 5px, 10px, #333);
  position: relative;

  img {
    margin: 0 auto;
    display: block;
  }
  p {
    margin: 1em 1em; 
  }
}

.heroku .project-desc::after {
  content: url('../img/heroku.png');
  position: absolute;
  bottom: 0.25em;
  right: 0.25em;
}

.github {
  @include all-transitions(0.3s);
  position: absolute;
  bottom: 0;
  &:after {
    content: url('../img/github.png');
  }
  &:hover {
    opacity: 0.7;
  }
}

.project-pic {
  margin: 2em 3em;
  // float: left;
  display: inline-block;
  position: relative;
  width: 600px;
  height: 369px;
  border: 1px solid black;
  background-size: 100%;
  background-repeat: no-repeat;

  a {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    z-index: 1;
    @include all-transitions(0.3s);
    &:hover {
      background: rgba(255,255,255,0.2);
    }
  }
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  display: block;
  min-width: 900px;
  opacity: 0.4;
}

#crossword-cafe {
  .logo {
    background: black;
    &:hover {
      background: #333;
    }
  }
  .project-pic {background-image: url('../img/crossword_preview.jpg');}
  .background{
    background: url('../img/crossword_background.jpg') repeat;
    background-size: 20%;
    -webkit-filter: blur(2px);
  }
}

#bugs-n-drugs {
  .logo {background: $husky-dark-purple;}
  .project-pic {background-image: url('../img/bugsndrugs.png');}
  .background {
    background: #9b93ab;
    background-image: url('../img/bugs.svg');
  }
}

#meetup-heatmap {
  .logo {
    background: $meetup-red;
    font-family: 'Permanent Marker';
    &:hover {
      background: $meetup-pink;
    }
  }
  .project-pic {background-image: url('../img/heatmap.png');}
  .background {
    background: url('../img/meetup_mash.jpg') repeat;
    opacity: 0.8;
  }
}
#screen-guide {
  .project-pic {
    background-image: url('../img/screen_guide_preview.png');
  }
}

#contact {
  a {
    margin: 0 auto;
  }
  img {
    width: 7em;
    display: inline-block;
  }
  * {
    text-align: center;
  }
}