* {
  font-family: verdana, Arial, sans-serif;
}
html {
  height: 100%;
}
body {
  background: #edefec;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
header {
  -moz-box-shadow: 3px 3px 6px #333;
  -ms-box-shadow: 3px 3px 6px #333;
  -webkit-box-shadow: 3px 3px 6px #333;
  box-shadow: 3px 3px 6px #333;
  background-color: #e51837;
  position: absolute;
  top: 0em;
  width: 105%;
  left: -5%;
  z-index: 10;
  padding: 0.5em 0;
}
#member-search {
  margin: 0 auto;
  width: 300px;
}
#member-search input {
  margin: 0;
  padding: 0;
  display: block;
  width: inherit;
  font-size: 1.5em;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input:focus {
  outline: 0;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.333),0 0 6px rgba(42,155,199,.5);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.333),0 0 6px rgba(42,155,199,.5);
  box-shadow: inset 0 1px 3px rgba(0,0,0,.333),0 0 6px rgba(42,155,199,.5);
}
#container {
  height: 100%;
  width: 100%;
  padding-top: 3em;
}
#map-canvas{
  height: 100%;
  width: 100%;
}
footer {
  position: absolute;
  bottom: 0;
  opacity: 0.4;
  background: #ccc;
}
#credit {
  margin:0 1em;
}
#instructions {
  margin: 6em auto 0;
  text-align: center;
}
#instructions ol {
  display: inline-block;
  text-align: left;
  margin: 0;
  padding: 0;
}
#instructions li{
  display: inline-block;
}
#instructions h2{
  text-align: center;
  margin-bottom: 0;
}
.spinner {
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
}